.search {
    width: 70%;
}

.issuelist {
    min-height: 230px;
}

.search #search_box {
    width: 70%;
    height: 29px;
    width: 70%;
    height: 31px;
    font-size: 14px;

}

.search .submit_url {
	height: 31px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
}

#nav-wrapper {
    text-align: center;
    margin-left: 15%;
    margin-top: 26px;
}

.issuecard {
    border-style: inset;
    border-width: 1px;
    padding: 9px;
    text-align: left;
}

.open_close_button{
    display: inline-block;
}

.open_button, .close_button {
    height: 31px;
    width: 120px;
    font-size: 14px;
    color: rgba(118, 118, 118, 0.78);
    border: 0px;
    background-color: white;
    font-weight: 800;
    cursor: pointer;
}

.active_button {
    color: #222;
}

.state_box{
    border-style: inset;
    border-width: 1px;
    text-align: left;
}

.pagination {
    display: inline-block;
    height: 32px;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    width: 62px;
    height: 30px;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
}

#loading {
    position: absolute; width: 51%; height: 20%; background: url('/static/images/spinner.gif') no-repeat center center;
}
