<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <script type="text/javascript" src="/static/js/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <div id="nav-wrapper">
      <div class="search">
        <input type="text" placeholder="enter github's public repo url" name="search_box" id="search_box"></input>
        <button type="button" class="submit_url">Submit</button>
      <div>
      <div class="state_box" style="margin-top: 28px; display: none">
        <div class="open_close_button">
          <button type="button" class="open_button">Open</button>
        </div>
        <div class="open_close_button">
          <button type="button" class="close_button">Closed</button>
        </div>
      </div>
      <div>
      <div class="issuelist">
      </div>
      <div class="pagination" style="display: none">
        <button type="button" class="paginationleft">&laquo;</button>
        <button type="button" class="paginationpage1" onclick="getNextPage(1)">1</button>
        <button type="button" class="paginationpage2" onclick="getNextPage(2)">2</button>
        <button type="button" class="paginationpage3" onclick="getNextPage(3)">3</button>
        <button type="button" class="paginationpage4" onclick="getNextPage(4)">4</button>
        <button type="button" class="paginationpage5" onclick="getNextPage(5)">5</button>
        <button type="button" class="paginationpage6" onclick="getNextPage(6)">6</button>
        <button type="button" class="paginationpage7" onclick="getNextPage(7)">7</button>
        <button type="button" class="paginationpage8" onclick="getNextPage(8)">8</button>
        <button type="button" class="paginationpage9" onclick="getNextPage(9)">9</button>
        <button type="button" class="paginationpage10" onclick="getNextPage(10)">10</button>
        <button type="button" class="paginationright">&raquo;</button>
      </div>
    </div>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>

<script language="JavaScript" src="/static/js/main.js"></script>